body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #050613;
}

header {
  background-color: #050613;
  color: #fff;
  padding: 15px 0;
}

header .container {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 20px;
}

#logoutBtn {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  margin: 0px 18px;

}

#logoutBtn:hover {
  background-color: #2980b9;
}

.background {
  width: 480px;
  height: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 200px;
  width: 200px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#1845ad,
      #23a2f6);
  left: -110px;
  top: -80px;
}

.shape:last-child {
  background: linear-gradient(to right,
      #ff512f,
      #f09819);
  right: -80px;
  bottom: -30px;
}

.containerPage4 {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin: 0;
  margin-top: 15px;
  color: white;
  font-family: sans-serif;
}

#loanTenureForm {
  margin: 0 auto;
  padding: 20px;
}

#loanTenureForm .form-control {
  margin-bottom: 20px;
}

#loanTenureForm label {
  display: inline-block;
  margin-bottom: 5px;
  font-size: large;
  color: #ffffff;
}

#loanTenureForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#loanTenureForm button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #232734;
  border: 1px solid #f0f0f0;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 12px;
}

#loanTenureForm button[type="submit"]:hover {
  background-color: #2980b9;
}

#interestRate {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
}

#emiCalculator {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
}
